<div class="card">
  <div class="card-body">
    <div class="text-center mt-3 mb-5">
      <h3>SUBSCRIPTION FORM</h3>
      <p class="m-auto subs-text">
        In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before the final copy is available.
      </p>
      <form action="" class="form-inlin mb-5">
        <div class="form-group col-md-5">
          <input type="text" class="form-control" placeholder="Your Name">
        </div>
        <div class="form-group col-md-5">
          <input type="email" class="form-control" placeholder="Email Address">
        </div>
        <div class="col-md-2">
          <button class="btn btn-info btn-block btn-sub">SUBSCRIBE</button>
        </div>
      </form>
    </div>
  </div>
</div>
