<div class="card shadow-effect">
  <img src="https://images.pexels.com/photos/220301/pexels-photo-220301.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="post-image" class="card-img-top">
  <div class="card-body">
    <small class="bg-light text-danger text-center">Design</small>
    <small class="bg-light text-success text-center mx-3">Design</small>
    <small class="bg-light text-info text-center mx-3 ">Design</small>
    <h5 class="my-1  text-uppercase">Subject Name </h5>
    <p>single sentence that forms a unit” (Lunsford and Connors 116).
      Length and appearance do not determine whether a section in a paper is a paragraph. For instance,</p>
    <small class="bg-light text-danger "> Views - 100,256</small>
  </div>
</div>
