<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow-effect bg-secondary-theme">
        <div class="card-body text-center">
          <h3 class="text-theme-center">All Blog Posts</h3>
          <p>From here you can manage your blog pots</p>
          <button class="btn btn-info mx-2" routerLink="/post/new"><i class="bi bi-plus-square"></i> Add New Post </button>
          <button class="btn btn-warning mx-2" routerLink="/"> <i class="bi bi-arrow-left-square"></i> Back to DashBord </button>
        </div>
      </div>
    </div>
  </div>
</div>
