<div class="card mt-5 shadow-effect">
  <div class="card-body">
    <h4 class="text-success"> Leave a Comment </h4>
    <p>You can Leave a comment using this comment form</p>
    <form>
      <div class="form-group">
        <label class="form-label">Name</label>
        <input type="text" class="form-control shadow-effect" placeholder="Enter you Name Here">
      </div>
      <div class="form-group">
        <label class="form-label">Comment</label>
        <textarea clols="30" rows="10" class="form-control shadow-effect" placeholder="Add your comment Here "></textarea>
      </div>
      <button class="btn btn-success btn-them my-2">add a comment</button>
    </form>
  </div>
</div>
