<div class="card">
  <img src="https://images.pexels.com/photos/220301/pexels-photo-220301.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="post-image" class="card-img-top">
  <div class="card-body">
    <small class="bg-light text-danger text-center">Design</small>
    <small class="bg-light text-success text-center ml-3">Design</small>
    <small class="bg-light text-info text-center ml-3">Design</small>
    <h5 class="mt-1">
      A paragraph is defined as “a group of sentences or a
    </h5>
    <p>single sentence that forms a unit” (Lunsford and Connors 116).
      Length and appearance do not determine whether a section in a paper is a paragraph. For instance,
      in some styles of writing, particularly journalistic styles,
      a paragraph can be just one sentence long.</p>
    <small class="bg-light text-warning text-center ml-3"> Views - 100,256</small>
  </div>
</div>
